@import '../../shared/assets/styles/basics.scss';

.panel {
    display: flex;
    justify-content: space-between;
    column-gap: $offset16;
    background-color: $dark-gray;
    padding: $offset12;
    @include border('large');
}
.panel__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 160px;
}
.panel__data__players {
    display: flex;
    justify-content: space-between;
    margin-bottom: $offset12;
}
.players__total {
    display: flex;
    column-gap: $offset4;

    &.up {
        color: $green100;
    }
    &.down {
        color: $red100;
    }
}
.panel__data__persons {
    position: relative;
    display: flex;
    width: 100%;
}
.panel__persons__count {
	z-index: 10;
	position: absolute;
	top: 0;
	right: -2px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 32px;
	border-radius: 50%;

	span {
		z-index: 3;
		position: relative;
		color: $black;
	}

	&::before {
		background-color: $dark-gray;
		transform: translateX(-2px);
	}
	&::after {
		background-color: $white;
	}
	&::after,
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}