@import '../../shared/assets/styles/basics.scss';

.panel {
	display: flex;
	justify-content: space-between;
	column-gap: $offset16;
	background-color: $dark-gray;
	height: 84px;
	padding: $offset12;
	@include border('large');

	&.wins {
		border-color: $green100;
	}
	&.lose {
		border-color: $red100;
	}
}
.panel__result {
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	@include border('large');
	border: 2px solid;
	backdrop-filter: blur(16px);
	overflow: hidden;

	* {
		z-index: 1;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		backdrop-filter: blur(16px)
	}
	h1 {
		display: flex;
		justify-content: center;
		column-gap: $offset8;
	}
	p,
	h1 {
		text-transform: uppercase;
		text-align: center;
	}
	&.wins h1,
	&.wins p {
		color: $green100;
	}
	&.lose h1,
	&.lose p {
		color: $red100;
	}
}
.panel__data {
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	//max-width: 160px;
	flex-basis: 50%;
}
.panel__data__players {
	display: flex;
	justify-content: space-between;
	margin-bottom: $offset12;
}
.players__total {
	display: flex;
	column-gap: $offset4;

	&.up {
		color: $green100;
	}
	&.down {
		color: $red100;
	}
}
.panel__data__persons {
	position: relative;
	display: flex;
	width: 100%;
}
.panel__persons__count {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	border-radius: 50%;

	span {
		z-index: 3;
		position: relative;
		color: $black;
	}

	&::before {
		background-color: $dark-gray;
		transform: translateX(-4px);
	}
	&::after {
		background-color: $white;
	}
	&::after,
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}