@import '../../assets/styles/basics.scss';

a {
	text-decoration: none;
}
.gray {
	width: fit-content;
	background-color: $dark-gray;
	font-size: $p-small-size;
	line-height: 16px;
	font-weight: 400;

	&.active {
		background-color: $black;
	}
}
.gray, .light {
	padding: $offset12;
}
.bet {
	padding: $offset18;

	.up {
		background-color: $green100;
	}
	.down {
		background-color: $red100;
	}
}
.light {
	background-color: $white-light;
}
button,
a {
	&.white {
		background-color: $white;
		color: $black;
	}
	&.gray, &.bet, &.light, &.white {
		display: flex;
		align-items: center;
		justify-content: center;
		@include border('medium');
	}
}

.icon__left + span {
	margin-left: $offset4;
}
.icon__right {
	margin-left: $offset8;
}