@import '/src/shared/assets/styles/basics.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: $offset8 0;
    background-color: $black;
}