@import '../basics';

.modal {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding: $offset8 $offset16;

  * {
    z-index: 1;
  }
}

.blur {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  background: #1C1C1E52;
}
