@import '../basics';

.page {
  z-index: 91; // over for animation block
  position: relative;
  display: flex;
  flex-direction: column;
  // 27px - volume for half height component PanelMenu
  // 18px - volume for offset bottom from PanelMenu
  max-height: max-content;
  min-height: 100vh;
  width: 100%;
  // 24px - volume for offset bottom component PanelMenu for iOS
  padding: calc($offset20 * 2) $offset16 calc(58px + 18px + 24px);
  background-color: $black;
  overflow-y: scroll;
  overflow-x: hidden;

  header {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;

    header {
      margin-bottom: $offset12;
    }
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    & + .container {
      margin-top: $offset24;
    }
  }
}

