@import '../../../../shared/assets/styles/basics';

.modal-wallet {
  &.wrapper {
    display: flex;
    flex-direction: column;
    padding: $offset12;
    @include border('large');
    background-color: $dark-light-gray;
    backdrop-filter: blur(16px)
  }
  .container {
    display: flex;
    flex-direction: column;

    header {
      margin-bottom: $offset12;

      p {
        text-transform: uppercase;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    & + .container {
      margin-top: $offset24;
    }
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  .coins {
    display: flex;
    flex-wrap: wrap;
    gap: $offset8;
  }
  .coin {
    flex-basis: calc((100% - $offset8 * 3) / 4);
  }
  .button__confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
  }
  .button__address,
  .button__confirm {
    justify-content: flex-start;
    width: 100%;
  }
  .button__address {
    position: relative;
    width: 100%;
    justify-content: flex-start;

    p {
      font-weight: $font-w-regular;
    }
    span:nth-child(2) {
      margin-left: $offset12;
    }
    span:nth-child(3) {
      margin-left: auto;
    }
    .copy_text {
      position: absolute;
      top: $offset16;
      right: calc($offset24 + $offset24 + $offset4);
      color: $light-gray;
      text-transform: uppercase;
    }
  }
}

