@import '/src/shared/assets/styles/basics.scss';

.chart {
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, #2E2E30 0%, rgba(46, 46, 48, 0) 100%);
  @include border('large');
  overflow: hidden;
}
.chart__line {
  position: relative;
  width: calc(100% + 64px) !important;
  height: 100% !important;
  aspect-ratio: 1;
  margin-left: -64px;
}
