@import '../../assets/styles/basics.scss';

.rounds {
	width: 20px;
	padding: $offset4;
	@include border('small');

	&.up {
		background-color: $green100;
	}
	&.down {
		background-color: $red100;
	}
	&.refund {
		background-color: $yellow100;
	}
}