@import '../../assets/styles/basics.scss';

.rounds {
	padding: 2px;
	@include border('small');

	&.up {
		background-color: $green100;
	}
	&.down {
		background-color: $red100;
	}
	&.refund {
		background-color: $yellow100;
	}
}