@import '../../assets/styles/basics.scss';

$varPaddingButtonsContainer: $offset4;

.select-horizontal {
	display: flex;
	flex-direction: column;
	row-gap: $offset12;
	width: 100%;
}
.select-horizontal__buttons {
	position: relative;
	display: flex;
	padding: $varPaddingButtonsContainer ;
	background-color: $white-light;
	@include border('medium');
}
.select-horizontal__changes {
	position: absolute;
	top: $varPaddingButtonsContainer;
	left: $varPaddingButtonsContainer;
	width: calc(50% - $varPaddingButtonsContainer);
	height: calc(100% - $varPaddingButtonsContainer * 2);
	background-color: $black;
	@include border('medium');
}
.select-horizontal__button {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: $offset16 0;
	width: 50%;
	text-transform: uppercase;
}
.select-horizontal__descriptions {
	display: flex;

	h2 {
		color: $gray;
		padding: 0 40px;
		width: 50%;
		text-align: center;
		text-transform: uppercase;
		transition: color .3s ease-out;

		&.active {
			color: $white;
			transition: color .5s ease-in;
		}
	}
}
