@import '../../shared/assets/styles/basics.scss';

.panel {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: $offset12 $offset16;
  background: linear-gradient(0deg, rgba(46, 46, 48, 0) 0%, #2E2E30 100%);
}
.panel__bet-type {
  display: flex;
  flex-direction: column;

  h2 {
    text-transform: uppercase;
  }

  &.down {
    align-items: flex-end;
  }
  &.time {
    text-align: center;
  }
}
.panel__bet-percent {
  &.up {
    color: $green100;
  }
  &.down {
    color: $red100;
  }
}