@import '../../shared/assets/styles/basics.scss';

.panel {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: $offset12 $offset16;
  background: linear-gradient(0deg, rgba(46, 46, 48, 0) 0%, #2E2E30 100%);
}
.panel__bet-type {
  display: flex;
  flex-direction: column;
  row-gap: $offset4;

  h2 {
    color: $light-gray;
    text-transform: uppercase;
  }

  p {
    display: flex;
    column-gap: 4px;
  }

  &.time {
    text-align: center;
  }
}
