@import '../../../../shared/assets/styles/basics';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;

  & + .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $offset8;
    padding: calc($offset12 * 2) 0;
  }
  &:not(:last-child) {
    padding-bottom: $offset12;
    border-bottom: 1px solid $dark-gray;
  }
}
.container__text {
  p, h2 {
    font-weight: $font-w-regular;

    &.wins {
      color: $green100;
    }
    &.lose {
      color: $red100;
    }
  }

  h2 {
    text-transform: uppercase;
    color: $gray;
  }
}
.color-ton-coin {
  color: $coins-ton;
}
