@import '../../../../shared/assets/styles/basics';

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;


  p, h2 {
    font-weight: 400;

    &.wins {
      color: $green100;
    }
    &.lose {
      color: $red100;
    }
  }
  &.right {
    text-align: right;
  }

  h2 {
    text-transform: uppercase;
    color: $gray;
  }
}
