@import '../../assets/styles/basics';

.select {
  p {
    font-weight: $font-w-regular;
  }
  &.light {
    .select__header,
    .select__list {
      background-color: $white-light;
    }
  }
}
.select__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $offset12;
  margin-bottom: 2px;
  background-color: $dark-gray;
  @include border('medium');
  cursor: pointer;
}
.select__icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.select__header-left {
  display: flex;
  column-gap: $offset12;
}
.select__list {
  max-height: 200px;
  padding: 0 $offset12;
  background-color: $dark-gray;
  @include border('medium');
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
}
.select__item {
  display: flex;
  align-items: center;
  column-gap: $offset12;
  padding: $offset12 0;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &__right-text {
    margin-left: auto;
  }

  &.disabled {
    filter: brightness(0.8);

    p {
      color: $light-gray;
    }
  }

  &:active,
  &:focus {
    background-color: $black;
  }
  &:not(:last-child) {
    border-bottom: 1px solid $black;
  }
}
.select__header,
.select__item {
  text-transform: capitalize;
}
