@import '../shared/assets/styles/basics.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: $white;
}
body {
  width: 100dvw;
  width: 100vw;
  height: 100dvh;
  height: 100vh;
  overflow: hidden;
}
#root {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 576px;
  height: 100%;
}
h1, .h1 {
  font-size: $h1-size;
  line-height: 1;
  font-weight: 600;

  &.h1-reg {
    font-weight: 400;
  }
}
h2, .h2 {
  font-size: $h2-size;
  font-weight: 500;
  line-height: 16px;
}
p, .p {
  font-size: $p-size;
  line-height: 1.5;
  font-weight: 600;

  &.p-reg {
    font-weight: 400;
  }

  &.p-small {
    font-size: $p-small-size;
    line-height: 16px;
    font-weight: 600;

    &.p-reg {
      font-weight: 400;
    }
  }

  &.p-x-small {
    font-size: $p-x-small-size;
    line-height: 12px;
    font-weight: 500;
  }
}
h1, h2, p, .h1, .h2, .p, a, button {
  color: $white;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}