// black
$black: #1C1C1E;
$light-black: #1C1C1EEB;
$dark-gray: #2E2E30;
$dark-light-gray: #2E2E30;
$gray: #6E6E6F;
$light-gray: #BFBFC0;
$white: #FFFFFF;

// white
$white-light: #FFFFFF14;

// green
$green100: #28DA64;
$green64: #75E79C;
$green32: #BAF3CD;
$green16: #DDF9E6;
$green8: #EEFCF3;
$dark-green: #227F42;

// red
$red100: #FD2D39;
$red64: #FE7980;
$red32: #FEBCC0;
$red16: #FFDDDF;
$red8: #FFEEEF;
$dark-red: #91242C;

// icons
$coins-ton: #0098EA;
$coins-bitcoin: #F7931A;


