@import '../../shared/assets/styles/basics.scss';

.button-placebet {
	flex-shrink: 0;
	flex-grow: 1;
	min-width: 120px;
	flex-basis: 50%;
	text-transform: uppercase;

	&.disabled {
		color: $light-gray;
	}
	&.up {
		background-color: $green100;

		&.disabled {
			background-color: $dark-green;
		}
	}
	&.down {
		background-color: $red100;

		&.disabled {
			background-color: $dark-red;
		}
	}
}