@import '../../shared/assets/styles/basics.scss';

.button-placebet {
	flex-shrink: 0;
	flex-grow: 1;
	min-width: 120px;
	max-width: 160px;
	text-transform: uppercase;

	&.up {
		background-color: $green100;
	}
	&.down {
		background-color: $red100;
	}
}